@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Noto+Sans+KR:wght@600&display=swap');

#logo {
    font-family: Archivo Black;
    font-size: 2em;
    color: #0B0B61;
}

.button-spacing {
    margin-right: 10px; /* 오른쪽 마진을 추가하여 간격을 벌립니다. */
}

.d-flex{
    margin-top: 10px;
}

.menus{
    color: #0B0B61; !important;
    font-weight: bold;
    font-size: 1.2em;
    font-family: Noto Sans Korean; !important;
}